@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header, .footer {
    background-color: #5da3f8;
    color: #2b2b2b;
    text-align: center;
    padding: 1em;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.nav li {
    display: inline-block;
    font-size: 2em;
}

.nav a {
    color: #2b2b2b;
    text-decoration: none;
}

.main-content {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.main-title {
    background-color: orange;
    border: 2px solid #fdfdfd;
    padding: 10px;
}