{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/article-styles.css') }}">
<title>Article</title>
{% endblock %}

{% block body %}

<main class="main-content">
    <h1 class="main-title">Article</h1>
    <div class="table-container">
        <table class="article-table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#">Sample Title</a></td>
                    <td>John Doe</td>
                    <td>2024-06-26</td>
                    <td>Sample Category</td>
                    <td>
                        <button class="button">ویرایش</button>
                        <button class="button danger">حذف</button>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" name="code"></td>
                    <td><input type="text" name="title"></td>
                    <td><input type="text" name="author"></td>
                    <td><input type="text" name="date"></td>
                    <td><input type="text" name="category"></td>
                    <td>
                        <button class="add-button">افزودن</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <button id="add-row-article">افزودن ردیف</button> -->
</main>

{% endblock %}