<!DOCTYPE html>
<html lang="fa">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
{% block head %}{% endblock %}
</head>
<body>

<header class="header">
   <nav>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/picture">Picture</a></li>
        <li><a href="/article">Article</a></li>
        <li><a href="/writer-photographer">Writer/photographer</a></li>
    </ul>
   </nav>
</header>

{% block body %}{% endblock %}
<footer class="footer">
    <p> © 2024 MMM_PROJECT™ All Rights Reserved.</p>
</footer>

</body>
</html>