{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index-styles.css') }}">
<title>Home</title>
{% endblock %}

{% block body %}

<main class="main-content">
    <h1 class="main-title text-2xl font-black rounded-lg">Welcome to the Dashboard</h1>
    <p>
        {% if session['email'] and session['user_id'] %}
            Logged in as: {{ session['email'] }} (User ID: {{ session['user_id'] }})
        {% else %}
            You are not logged in.
        {% endif %}
    </p>
</main>

<div class="flex flex-wrap justify-center">
    <a href="{{ url_for('submit_article_route') }}" class="w-full md:w-1/2 lg:w-1/3 p-4">
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <div class="icon-plus mb-4 text-gray-500"></div>
            <iconify-icon icon="ph:article-ny-times" width="5rem"></iconify-icon>
            <div class="text-lg font-bold">Write article</div>
        </div>
    </a>

    <a href="{{ url_for('upload_route') }}" class="w-full md:w-1/2 lg:w-1/3 p-4">
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <div class="icon-plus mb-4 text-gray-500"></div>
            <iconify-icon icon="fa:upload" width="5rem"></iconify-icon>
            <div class="text-lg font-bold">Upload image</div>
        </div>
    </a>
    <a href="{{ url_for('user_page',usr_id=session['user_id']) }}" class="w-full md:w-1/2 lg:w-1/3 p-4">
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <div class="icon-plus mb-4 text-gray-500"></div>
            <iconify-icon icon="iconamoon:profile-circle-fill" width="5rem"></iconify-icon>
            <div class="text-lg font-bold">My Profile</div>
        </div>
    </a>
    {% if session['role'] == 'admin' %}
    <a href="{{ url_for('admin_page') }}" class="w-full md:w-1/2 lg:w-1/3 p-4">
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <div class="icon-plus mb-4 text-gray-500"></div>
            <iconify-icon icon="eos-icons:admin-outlined" width="5rem"></iconify-icon>
            <div class="text-lg font-bold">Admin panel</div>
        </div>
    {% endif %}
    </a>
</div>
</main>

{% endblock %}
