{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index-styles.css') }}">
<title>Home</title>
{% endblock %}

{% block body %}

<main class="main-content">
    <h1 class="main-title text-lg font-bold">Welcome to the profile Page</h1>
    <p>
        {% if session['email'] and session['user_id'] %}
            Logged in as: {{ session['email'] }} (User ID: {{ session['user_id'] }})
        {% else %}
            You are not logged in.
        {% endif %}
    </p>
</main>

<div class="flex flex-wrap justify-center">
    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <div class="icon-plus mb-4 text-gray-500"></div>
            <iconify-icon icon="mingcute:plus-line" width="5rem"></iconify-icon>
            <div class="text-lg font-bold">Upload articles</div>
        </div>
    </div>

    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <div class="icon-plus mb-4 text-gray-500"></div>
            <iconify-icon icon="mingcute:plus-line" width="5rem"></iconify-icon>
            <div class="text-lg font-bold">Upload images</div>
        </div>
    </div>
</div>
</main>

{% endblock %}
