{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/picture-styles.css') }}">
<title>Picture</title>
{% endblock %}

{% block body %}
<main class="container mx-auto p-4">
    
    <a href="{{ url_for('pictures') }}" class="text-gray-900 hover:text-black-700 text-lg font-bold inline-flex items-center mb-5">
        <iconify-icon icon="ic:round-arrow-back" width="1.8rem" class="mr-2"></iconify-icon>
        pictures
    </a>

    <div class="flex justify-between items-center mb-6">
        <div class="text-xl font-bold flex items-center">
            <span class="icon-category mr-2"></span>
            <iconify-icon icon="carbon:category" width="1.4rem"></iconify-icon>
            Category: {{ category }}
        </div>
        <div class="text-xl gap-2 font-bold flex items-center">
            <span class="icon-photographer mr-6"></span>
            <iconify-icon icon="entypo:camera" width="1.4rem"></iconify-icon>
            <p>Photographer: {{ name }}</p>
        </div>
    </div>

    <div class="flex flex-wrap lg:flex-nowrap bg-white shadow-lg rounded-lg p-4">
        <div class="w-full lg:w-2/3 mb-4 lg:mb-0">
            <div class="bg-gray-100 p-2 rounded-lg shadow-lg">
                <img src="{{ url_for('static', filename='img/'+path) }}" class="w-full h-auto rounded-lg">
            </div>
        </div>
        <div class="w-full lg:w-2/3 lg:pl-4">
            <h2 class="text-3xl font-bold mb-6">Title: {{ title }}</h2>
            <p class="text-lg ">{{ des }}</p>
        </div>
    </div>

    <div class="flex justify-center mt-6 text-xl items-center">
        <span class="icon-tags mr-2"></span>
        <iconify-icon icon="icon-park-outline:tag" width="1.4rem"></iconify-icon>
        Tags: {{ tags }}
    </div>
</main>
{% endblock %}


