{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/writer-photographer-styles.css') }}">
<title>Writer/Photographer</title>
{% endblock %}

{% block body %}

<main class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-6 text-center">Contents of Writers/Photographers</h1>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white shadow-lg rounded-lg overflow-hidden border border-black">
            <thead>
                <tr class="bg-gray-400 text-black- font-bold uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-center border-r">Code</th>
                    <th class="py-3 px-6 text-center border-r">Name</th>
                    <th class="py-3 px-6 text-center border-r">Email</th>
                    <th class="py-3 px-6 text-center border-r">Actions</th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-semibold">
                <tr class="border-b border-black hover:bg-gray-200">
                    <td class="py-3 px-6 text-center whitespace-nowrap border-r">1</td>
                    <td class="py-3 px-6 text-center border-r"><a href="#" class="text-blue-500 hover:underline">Arsalan</a></td>
                    <td class="py-3 px-6 text-center border-r">Arsalan@example.com</td>
                    <td class="py-3 px-6 text-center border-r">
                        <button class="bg-blue-500 text-white py-1 px-3 rounded hover:bg-blue-900">
                            <iconify-icon icon="ci:show" width="1.4rem"></iconify-icon>Show
                        </button>                   
                    </td>
                </tr>
            </tbody>
            <tbody class="text-gray-700 text-sm font-semibold">
                <tr class="border-b border-black hover:bg-gray-200">
                    <td class="py-3 px-6 text-center whitespace-nowrap border-r">2</td>
                    <td class="py-3 px-6 text-center border-r"><a href="#" class="text-blue-500 hover:underline">Ali</a></td>
                    <td class="py-3 px-6 text-center border-r">ali@example.com</td>
                    <td class="py-3 px-6 text-center border-r">
                        <button class="bg-blue-500 text-white py-1 px-3 rounded hover:bg-blue-900">
                            <iconify-icon icon="ci:show" width="1.4rem"></iconify-icon>Show
                        </button>                   
                    </td>
                </tr>
            </tbody>
            <tbody class="text-gray-700 text-sm font-semibold">
                <tr class="border-b border-black hover:bg-gray-200">
                    <td class="py-3 px-6 text-center whitespace-nowrap border-r">3</td>
                    <td class="py-3 px-6 text-center border-r"><a href="#" class="text-blue-500 hover:underline">saeed</a></td>
                    <td class="py-3 px-6 text-center border-r">saeed@example.com</td>
                    <td class="py-3 px-6 text-center border-r">
                        <button class="bg-blue-500 text-white py-1 px-3 rounded hover:bg-blue-900">
                            <iconify-icon icon="ci:show" width="1.4rem"></iconify-icon>Show
                        </button>                   
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>


{% endblock %}